{% extends "base.html" %}
{% block content %}

<center>


    <form method="POST">
        {% csrf_token %}        

        {% for message in messages %}
          <h1 style="color: red;">{{message}}</h1>
        {% endfor %}

        {{form.title}}
        
</center>
{{form.diary}}

<div class="input-group mb-3 mt-4">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Optional</span>
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" multiple='multiple'>
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
</div>

<input class="form-control user_id" type="text" name="user" id="id_user" value="{{user.id}}" readonly>

<center>
    <button type="submit" class="btn btn-outline-primary mt-3 mb-3 col-4">Save</button>
    <a href="{% url 'del_confir' %}" class="btn btn-ouline-danger">Delete</a>
</center>
</form>

{% endblock content %}